<div class="container">

  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6">
      <h3>My messages:</h3>
    </div>
  </div>

  <% @messages.each do |message| %>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6">
      <div class="card-message row">
        <div class="col-2">
          <p><strong>Date:</strong></p>
          <p><strong>To:</strong></p>
          <p><strong>Content:</strong></p>
        </div>

        <div class="col-8">
          <p><%= message.created_at %></p>
          <p><%= message.shelter.email %></p>
          <p><%= message.content %></p>
        </div>

        <div class="col-2 text-right">
          <%= link_to 'Delete', message, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6">
      <%= link_to 'Back', dogs_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>

</div>

