<%= render partial: "shared/partials/tab" %>
<div class="container">
  <% @messages.each do |message| %>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6">
      <div class="card-message row">
        <div class="col-2">
          <div class="mex-top">
            <p><strong>Date:</strong></p>
            <p><strong>To:</strong></p>
            <p style="font-size: 12px">email:</p>
          </div>
          <p><strong>Content:</strong></p>
        </div>

        <div class="col-10">
          <div class="mex-top">
            <div class="mex-delete">
            <p><%= message.created_at %></p>
             <%= link_to message,  method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash-alt"></i>
          <% end  %>
          </div>
            <p><%= message.shelter.name %></p>
            <p style="font-size: 12px"><%= message.shelter.email %></p>
          </div>
          <div class="mex-content">
            <p><%= message.content %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <% end %>

</div>

