
<div class="form-page">
  <%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :from_user_id, as: :hidden, input_html: {value: params[:from_user_id]} %>
    <div class="form-mex-header">
      <div>
      <label><strong> To: </strong> <%= User.find(params[:to_user_id]).name %></label>
      </div>
      <div>
        <i class="fas fa-dog"></i> <%= link_to Dog.find(params[:dog_id]).name.upcase, dog_path(params[:dog_id]) %>
      </div>
    </div>
    <%= f.input :to_user_id, as: :hidden, input_html: {value: params[:to_user_id]} %>
    <%= f.input :content %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>
