<h1>Messages#new</h1>
<p>Find me in app/views/messages/new.html.erb</p>

Dog Name: <%= @dog.name %>



<!-- 1) FORM TO messages_path (messages#create) -->

<%= simple_form_for @message do |f| %>
  <%= f.input :from_user_id, as: :hidden, :input_html => { :value => current_user.id } %>
  <%= f.input :to_user_id, as: :hidden, :input_html => { :value => @dog.user_id } %>
  <%= f.input :context %>
  <%= f.submit "Send a message", class: "btn btn-primary" %>
<% end %>
