
<div class="form-page">
  <div Class="form-edit-header">
    <h1>Edit your dog</h1>
    <p><%= link_to "Back", :back %></p>
  </div>
  <%= simple_form_for @dog do |f| %>
  <%= f.input :name %>
  <%= f.input :gender, collection: Dog::GENDERS %>
  <label>Birthday</label>
  <%= f.input :date_of_birth, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.input :size, collection: Dog::SIZES %>
  <%= f.input :breed, collection: Dog::BREEDS  %>
  <%= f.input :color, :label => "Color", :collection => Dog::COLORS, :as => :check_boxes %>
  <%= f.input :is_hypoallergenic, as: :boolean, checked_value: true, unchecked_value: false %>
  <%= f.input :is_sterilized, as: :boolean, checked_value: true, unchecked_value: false %>
  <%= cl_image_tag(@dog.photo, class: "image form-edit-photo") %>

  <%= f.input :photo, label: "To change photo" %>
  <%= f.input :photo_cache, as: :hidden %>
  <%#= f.file_field :pictures, multiple: true %>
  <div class="div-btn-center">
    <%= f.button :submit, :class => 'btn-green' %>
  </div>
  <% end %>
</div>

