<%= render partial: "shared/partials/search" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-sm-offset-12">
      <div class="form-post">
        <%= form_tag dogs_path, method: :get do %>
            <div class="row">
              <div class="col-xs-6 col-md-2">
          <div class="form-group select optional dog_gender">
              <label class="form-control-label select optional" for="dog_gender">
                Gender
              </label>
              <select class="form-control select optional" name="gender_query" id="dog_gender">
                <option value=""></option>
                <% Dog::GENDERS.each do |gender| %>
                  <option value="<%= gender %>" <%= params[:gender_query] == gender ? "selected" : nil%>><%= gender %></option>
                <% end %>
              </select>
              </div>
            </div>
            <div class="col-xs-6 col-md-2">
            <div class="form-group select optional dog_gender">
              <label class="form-control-label select optional" for="dog_size">
                Size
              </label>
              <select class="form-control select optional" name="size_query" id="dog_size">
                <option value=""></option>
                <% Dog::SIZES.each do |size| %>
                  <option value="<%= size %>" <%= params[:size_query] == size ? "selected" : nil%>><%= size %></option>
                <% end %>
              </select>
            </div>
            </div>
            <div class="col-xs-6 col-md-4">
            <div class="form-group select optional dog_gender">
              <label class="form-control-label select optional" for="dog_breed">
                Breed
              </label>
              <select class="form-control select optional" name="breed_query" id="dog_breed">
                <option value=""></option>
                <% Dog::BREEDS.each do |breed| %>
                  <option value="<%= breed %>" <%= params[:breed_query] == breed ? "selected" : nil%>><%= breed %></option>
                <% end %>
              </select>
            </div>
            </div>
            <div class="col-xs-6 col-md-2">
            <div class="form-group select optional dog_gender">
              <label class="form-control-label select optional" for="dog_hypoallergenic">
                Hypoallergenic
              </label>
              <select class="form-control select optional" name="hypoallergenic_query" id="dog_hypoallergenic">
                <option value=""></option>
                <% Dog::YES_AND_NO.each do |answer| %>
                  <option value="<%= answer %>" <%= params[:hypoallergenic_query] == answer ? "selected" : nil%>><%= answer %></option>
                <% end %>
              </select>
            </div>
            </div>
            <div class="col-xs-6 col-md-2">
             <div class="form-group select optional dog_gender">
              <label class="form-control-label select optional" for="dog_sterilized">
                Sterilized
              </label>
              <select class="form-control select optional" name="sterilized_query" id="dog_sterilized">
                <option value=""></option>
                <% Dog::YES_AND_NO.each do |hey| %>
                  <option value="<%= hey %>" <%= params[:sterilized_query] == hey ? "selected" : nil%>><%= hey %></option>
                <% end %>
              </select>
                </div>
               </div>
              </div>
              <div class="form-post">
              <div class="row">
                <div class="container">
                <div class="form-grouppp">

                    <% Dog::COLORS.each do |color| %>
                      <div data-color="<%= color %>" class="color-choicesss <%= ((params[:colors] || []).include?(color)) ? "active" : nil %>">
                        <label><%= color %> <br><i class="fa fa-check"></i> </label>
                       <!--  when you use label  for="something" it zill toggle the input with id="something" so it was messing with the javacript aka. the javascript was toggling twice the checkbox. -->
                      </div>

                      <input type="checkbox" class="hidden" name="colors[]" id="<%= color %>" <%= (params[:colors] || []).include?(color) ? 'checked' : nil %> value="<%= color %>">
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container index-button-container">
            <%= submit_tag "Filter", :class => "index-button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


<!-- <h1>
  <%#= "FindADog in #{@search}:" %>
</h1> -->

<div class="card-container">
  <div class="card-row ">
    <% @dogs.each do |dog| %>

      <div class="card-trip">
      <%= link_to dog_path(dog) do %>
        <% if dog.photo.present? %>
        <%= cl_image_tag(dog.photo, class: "image") %>
        <div class="card-trip-infos">
          <div>
            <h2><%= dog.name %>,  <% if dog.gender == "female" %>
            <i class="fas fa-venus female"></i>
            <% else %>
            <i class="fas fa-mars male"></i>
            <% end %>
            </h2>
            <% now = Date.today %>
            <% age = now.year - dog.date_of_birth.year %>
            <h3><%= (age > (1 || 0)) ? "#{age} years old" : "#{age} year old" %> </h3>
          </div>
          <div>
            <% if (user_signed_in?) && (Favorite.where(dog: dog, user: current_user).present?) %>
              <%= link_to dog_mydog_path(dog.id, Favorite.where(dog: dog, user: current_user).first.id), method: :delete do %>
              <i class="fas fa-heart" id="active"></i>
              <% end %>
            <% else %>
              <%= link_to dog_mydogs_path(dog.id), method: :post do %>
              <i class="fas fa-heart"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
  <script>
          document.querySelectorAll(".color-choicesss").forEach((checkbox) => {
            checkbox.addEventListener("click", (event) => {
              let color = event.currentTarget.dataset.color;
              let checkboxForColor = document.querySelectorAll("#" + color)[0];

              event.currentTarget.classList.toggle("active");
              checkboxForColor.checked = !checkboxForColor.checked;

              // if (checkboxForColor.checked) {
              //   checkboxForColor.checked = false;

              // } else {
              //   checkboxForColor.checked = true;
              // }
            });
          });
        </script>












