
<h1>
  <%= "FindADog in #{@query}:" %>
</h1>
<div class="card-container">
  <div class="card-row">
    <% @dogs.each do |dog| %>
    <div class="card-trip col-xs-3">
      <% if dog.photo.present? %>
      <%= cl_image_tag(dog.photo, class: "image") %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to dog.name, dog_path(dog) %>, <%= dog.gender %> </h2>
          <% now = Date.today %>
          <% age = now.year - dog.date_of_birth.year %>
          <% age = "few months" if age == 0 %>
          <h3><%= age %> </h3>
        </div>

        <div>
          <% if (user_signed_in?) && (Favorite.where(dog: dog, user: current_user).present?) %>
            <%= link_to dog_mydog_path(dog.id, Favorite.where(dog: dog, user: current_user).first.id), method: :delete do %>
            <i class="fas fa-heart" id="active"></i>
            <% end %>
          <% else %>
            <%= link_to dog_mydogs_path(dog.id), method: :post do %>
            <i class="fas fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
