<h1>
  <%= "FindADog in #{@query}:" %>
</h1>
<div class="card-container">
  <div class="card-row">
    <% @dogs.each do |dog| %>
    <div class="card-trip col-xs-3">
      <% if dog.photo.present? %>
      <%= cl_image_tag(dog.photo, class: "image") %>
      <%#= link_to dog_path(dog) do %>
      <div class="card-trip-infos">
        <div>
          <h2><%= dog.name %>, <%= dog.gender %> </h2>
          <% now = Date.today %>
          <% age = now.year - dog.date_of_birth.year %>
          <% age = "few months" if age == 0 %>
          <h3><%= age %> </h3>
        </div>
      </div>
      <%# end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

