
<div class="form-page">
  <h1>New dog</h1>

  <%= simple_form_for @dog do |f| %>
    <%= f.input :name %>
    <%= f.input :gender, collection: Dog::GENDERS %>
    <label>Birthday</label>
    <%= date_select :dog ,:date_of_birth, :start_year => (DateTime.current.year - 90), :end_year => (DateTime.current.year)%>
    <%= f.input :size, collection: Dog::SIZES %>
    <%= f.input :breed, collection: Dog::BREEDS %>
    <%= f.input :color, :label => "Color", :collection => Dog::COLORS, :as => :check_boxes %>

    <%= f.input :is_hypoallergenic, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.input :is_sterilized, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.file_field :pictures, multiple: true %>

    <%#= f.input :pictures, as: :file, input_html: {name: "dog[pictures][]", multiple: true} %>

<!-- , html: { multipart: true } -->

    <%#= f.hidden_field :pictures %>

    <%= f.button :submit, :id => 'btn-ghost' %>
  <% end %>
</div>

