<% content_for :meta_title, "#{@dog.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @dog.breed %>
<!-- this might be wrong, if so change @dog.photo.path to @dog.photo -->
<% content_for :meta_image, cl_image_path(@dog.photo) %>


<div class="container show-container">
  <div class="row">
    <div class="col-md-8 container-for-the-show-page">
      <div class="share-dog">

        <div class="dogs-show-photo">
          <h1><%= @dog.name.upcase %></h1>
          <div class= "image show-page-photo"  style="background-repeat: no-repeat;background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
         url('<%= cl_image_path @dog.photo %>');background-size: cover;background-position: center center;">
          <div class="show-heart">
            <% if (current_user.role == "user") %>
              <% if (Favorite.where(dog: @dog, user: current_user).present?) %>
                <%= link_to dog_mydog_path(@dog.id, Favorite.where(dog: @dog, user: current_user).first.id), method: :delete do %>
                  <i class="fas fa-heart show-heart" id="active"></i>
                <% end %>
              <% else %>
                <%= link_to dog_mydogs_path(@dog.id), method: :post do %>
                  <i class="fas fa-heart show-heart"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
          </div>
        </div>
        <span class="social-share-button">
          <%= social_share_button_tag("Check out #{@dog.name} on FindADog! http://www.findadog.site/dogs/#{@dog.id}", :url => "http://www.findadog.site/dogs/#{@dog.id}", :popup => "true", desc: "Check out #{@dog.name} on FindADog! http://www.findadog.site/dogs/#{@dog.id}", :image => @dog.photo) %>
        </span>
      </div>

      <p><b><%= @dog.name %></b> is...</p>
        <ul>
          <p>a <b><%= @size_dog %></b> <b><%= @gender_dog %></b>
            who was born <b><%= Date.today.year - @dog.date_of_birth.year %></b> years ago,
            <%= @he_she %> is a
            <% @dog.color.each do |colors|%>
            <% if colors.class == String %>
              <b><%= colors %></b>
            <% else %>
              <% colors.each do |color| %>
                <b><%= color %></b>
              <% end %>
            <% end %>
          <% end %>
          <b><%= @dog.breed %></b>,
          <%= @he_she %> <b><%= @hypoallergenic_string %></b> and <%= @he_she %> <b><%= @steralized_string %></b>.
          </p>
        </ul>


    </div>
    <div class="container col-md-4 show-container">
      <div class="container show-container">
        <h4><b><%= @dog.name %>'s Shelter:</b></h4>
        <div
          id="map"
          style="width: 100%;
          height: 200px;"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

        <% if current_user.role == "user"%>
          <div class="show-page-about">
            <p>Phone Number: <%= @dog.user.phone %> <br>
            Address: <%= @dog.user.address %> <br>
            Work time: <%= @dog.user.hours_of_operation %></p>
          </div>
          <div class="container">
           <%= link_to "Contact the shelter", new_message_path(from_user_id: current_user.id, to_user_id: @dog.user_id, dog_id: @dog.id), class: "btn-ghost" %>
          </div>
        <% else %>
          <div class="show-page-about">
            <p>Phone Number: <%= @dog.user.phone %> <br>
            Address: <%= @dog.user.address %> <br>
            Work time: <%= @dog.user.hours_of_operation %></p>
          </div>
          <div class="container">
          <%= link_to "Edit", edit_dog_path, class: "btn-ghost" %>

          <%= link_to "Delete", dog_path(@dog), class: "btn-ghost", method: :delete %>
          </div>
        <% end %>
      </div>
      <div class="col-md-12">
       <h4><b>Information about <%= @dog.name %>:</h4></b>
      </div>
     <div class="col-md-12">
      <h7>Gender:
        <b><%= @dog.gender %></b>
      </h7>
    </div>
    <div class="col-md-12">
      <h7>Size:
        <b><%= @dog.size %></b>
      </h7>
    </div>
     <div class="col-md-12">
      <h7>Age:
        <b><%= Date.today.year - @dog.date_of_birth.year %> </b>
      </h7>
    </div>
     <div class="col-md-12">
      <h7>Breed:
        <b><%= @dog.breed %></b>
      </h7>
    </div>
     <div class="col-md-12">
      <h7>Color:
        <b> <% @dog.color.each do |colors|%>
            <% if colors.class == String %>
              <%= colors %>
            <% else %>
              <% colors.each do |color| %>
                <%= color %>
              <% end %>
            <% end %>
          <% end %>
        </b>
      </h7>
    </div>
     <div class="col-md-12">
      <h7><%= @he_she.capitalize %> <b><%= @steralized_string %></b></h7>
    </div>
     <div class="col-md-12">
      <h7><%= @he_she.capitalize %> <b><%= @hypoallergenic_string %></b></h5>
    </div>
    </div>
  </div>
</div>






