<!-- <div class="landing-page"> -->

<div class="home-navbar">
  <%= render 'shared/navbar' %>
</div>

<div class="landing-banner">
  <div class="images-slider">
    <div class="image-slide1">
    </div>

    <div class="image-slide2">
    </div>

    <div class="image-slide3">
    </div>
  </div>
  <div class="wrapping-banner-content">
    <div class="home-text">
      <h1>FINDADOG</h1>
      <p>Save a dog, find a friend!</p>
    </div>
    <%= render partial: "shared/partials/search" %>
  </div>
</div>


<div class="dogs-landing-header text-center">
  <h3>Dogs are looking for a new home</h3>
</div>

<div class="card-container col-md-12">
  <div class="card-row">
    <% @dogs_rand.each do |dog| %>

    <div class="card-trip">
    <%= link_to dog_path(dog) do %>
      <% if dog.photo.present? %>
      <%= cl_image_tag(dog.photo, class: "image") %>
      <div class="card-trip-infos">
        <div>
          <h2><%= dog.name %>,  <% if dog.gender == "female" %>
            <i class="fas fa-venus female"></i>
            <% else %>
            <i class="fas fa-mars male"></i>
            <% end %>
          </h2>
          <% now = Date.today %>
          <% age = now.year - dog.date_of_birth.year %>
          <h3><%= (age > (1 || 0)) ? "#{age} years old" : "#{age} year old" %> </h3>
        </div>

        <div>
          <% if (user_signed_in?) && (Favorite.where(dog: dog, user: current_user).present?) %>
            <%= link_to dog_mydog_path(dog.id, Favorite.where(dog: dog, user: current_user).first.id), method: :delete do %>
            <i class="fas fa-heart" id="active"></i>
            <% end %>
          <% else %>
            <%= link_to dog_mydogs_path(dog.id), method: :post do %>
            <i class="fas fa-heart"></i>
            <% end %>
          <% end %>
        </div>

      </div>
      <% end %>
    <% end %>
    </div>
    <% end %>
  </div>
</div>







