
<div class="profile-container">
  <div>
    <div>
      <h3 style="text-decoration: underline;">INFORMATION ABOUT & YOUR SHELTER</h3>
    </div>
  </div>
  <div class="profile-info">
    <div class="profile-info-header">
      <p>Name:</p>
      <p>Username:</p>
      <p>Email:</p>
      <p>Phone:</p>
      <p>Address:</p>
      <p>hours_of_operation:</p>
    </div>
    <div class="profile-info-body">
      <h2><%= @user.name %></h2>
      <h3><%= @user.username %></h3>
      <h3><%= @user.email %></h3>
      <p><%= @user.phone %></p>
      <p><%= @user.address %></p>
      <p><%= @user.hours_of_operation %></p>
    </div>
  </div>
  <div>
    <%= link_to "Edit your infos",  edit_user_registration_path,  class: "btn btn-ghost", method: :GET %>
  </div>
</div>
