
 <div class="topnav">
  <%= active_link_to "My Profile", me_path%>

  <% if current_user.role == "user" %>
    <%= active_link_to "My Messages", messages_path %>
    <%= active_link_to "My Favorite Dogs", mydogs_path %>
  <% else %>
    <%= active_link_to "My Dogs", mydogs_path %>
    <%= active_link_to "Add a Dog", new_dog_path %>
  <% end %>
</div>

