<div class="card-container">
  <div class="card-row">
    <% favorites.each do |favorite| %>
    <div class="card-trip col-xs-3">
    <%= link_to dog_path(favorite.dog) do %>
      <% if favorite.dog.photo.present? %>
      <%= cl_image_tag(favorite.dog.photo, class: "image") %>

      <div class="card-trip-infos">
        <div>
          <h2><%= favorite.dog.name %>,  <% if favorite.dog.gender == "female" %>
            <i class="fas fa-venus female"></i>
            <% else %>
            <i class="fas fa-mars male"></i>
            <% end %>
          </h2>
          <% now = Date.today %>
          <% age = now.year - favorite.dog.date_of_birth.year %>

          <h3><%= (age > (1 || 0)) ? "#{age} years old" : "#{age} year old" %> </h3>
        </div>
        <div>
          <%= link_to dog_mydog_path(favorite.dog.id, favorite.id), method: :delete do %>
          <i class="fas fa-heart" id="active"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
    <% end %>
  </div>
</div>


